@model OnlinePlayerSample.Models.LoginModel
@{
    ViewBag.Title = "Login";
        //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-body">
    @using (Html.BeginForm("Login", "Account"))
    {
        @Html.AntiForgeryToken()
        <div>
            <div class="editor-label">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName)
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(u => u.RememberMe)
                @Html.LabelFor(u => u.RememberMe)
            </div>
            <input class="btn btn-default" type="submit" value="Log In" />
            <a class="btn btn-info" type="button" href="@Url.Action("Register", "Account")">Register Now</a>
        </div>
    }

</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#approve-btn').click(function () {
                $('#modal-container').modal('hide');
            });
        });
    </script>
}