@model List<OnlinePlayerSample.Models.TrackViewModel>

@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/SoundManager/soundmanager2.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/SoundManagerSetup.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/SoundManager/BarUI/bar-ui.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/HorizontalPlaylistHelper.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/DragNDropHelper.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/DragNDropToPlaylistHelper.js")"></script>
}

<div class="spectrum-container">

    <div class="playlist_tiles">
        <ul class="wrapper">
            @foreach (var track in Model)
            {
                <li class="box" draggable="true">
                    <img src="@track.ImageUrl">
                    <p>@track.TrackName (@track.Id)</p>
                </li>
            }
        </ul>
    </div>

</div>
