@model List<OnlinePlayerSample.Models.TrackViewModel>

@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/SoundManager/soundmanager2.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/SoundManagerSetup.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/SoundManager/BarUI/bar-ui.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/HorizontalPlaylistHelper.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/DragNDropHelper.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/DragNDropToPlaylistHelper.js")"></script>
}

<div class="spectrum-container" id="main_track_tiles_container">

    @{
        Html.RenderPartial("_HomeTrackTiles");
    }

</div>
