@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/SoundManager/soundmanager2.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/SoundManagerSetup.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/SoundManager/BarUI/bar-ui.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/HorizontalPlaylistHelper.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/DragNDropHelper.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/DragNDropToPlaylistHelper.js")"></script>
}
@*<h2>Youtube Track Streamer</h2>
<hr />
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            Blabla
        </div>
    </section>
}*@

<div class="spectrum-container">

    <div class="playlist_tiles">
        <ul class="wrapper">
            <li class="box" draggable="true">1</li>
            <li class="box" draggable="true">2</li>
            <li class="box" draggable="true">3</li>
            <li class="box" draggable="true">4</li>
            <li class="box" draggable="true">5</li>
            <li class="box" draggable="true">6</li>
            <li class="box" draggable="true">7</li>
            <li class="box" draggable="true">8</li>
            <li class="box" draggable="true">9</li>
            <li class="box" draggable="true">10</li>
            <li class="box" draggable="true">11</li>
            <li class="box" draggable="true">12</li>
            <li class="box" draggable="true">13</li>
            <li class="box" draggable="true">14</li>
            <li class="box" draggable="true">15</li>
            <li class="box" draggable="true">16</li>
            <li class="box" draggable="true">17</li>
            <li class="box" draggable="true">18</li>
        </ul>
    </div>

    @{
        Html.RenderPartial("~/Views/Player/_FullWidthPlayer.cshtml");
    }

    <div id="playlist_box">
        @{
            Html.RenderPartial("~/Views/Player/_HorizontalPlaylist.cshtml");
        }
    </div>

</div>
