@model OnlinePlayerSample.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>

        <div class="btn_group_container" style="margin-bottom: 1%">
            <div class="btn-group inline">
                <input type="submit" class="btn btn-primary" value="Change password" />
                <a href="@Url.Action("ManageProfileInfo", "Account")">
                    <div class="btn btn-default">
                        Back to profile info
                    </div>
                </a>
            </div>
        </div>

    </fieldset>
}
